{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/135/135620.png">
</head>
<body>

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="username" placeholder="Any Nickname" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <button>Login</button>
            <pre>

  If U haven't register yet, then Sign Up below👇🏻</pre>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="login">
        <form method="post" action="https://www.youtube.com/watch?si=hjtETt_kPbew7Q00&v=DxxJ4NyfJeE&feature=youtu.be">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Register</label>
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There is no way to register.</h2>
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Or in short, Who Cares LOL</h3>
            <button>Best Thing You can do</button>
        </form>
    </div>
</div>

</body>
</html>
