{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/congrats_style.css' %}">
    <link rel="icon" type="image/x-icon"
          href="https://cdn-icons-png.flaticon.com/512/135/135620.png">

</head>
<body>
<!-- partial:index.partial.html -->

<center>
    <h1>It is all about mindset. If you feel it's really your birthday, you may feel better 😄</h1>
    <br>
    <br>
    <br>
    <a>(hover the card to read what's inside)</a>
</center>

<div class="card">
    <div class="imgBox">
        <div class="bark"></div>
        <img src="https://i.pinimg.com/736x/99/cb/9b/99cb9b8e50bb33570550c51d97c3c88e.jpg">
    </div>
    <div class="details">
        <h4 class="color1">What's Up, Orange☘️</h2>
            <h4 class="color2 margin">(HAPPY BIRTHDAY🍬)</h3>
                <p>Hi, Orange</p>
                <p>Today is Your Birthday✨</p>
                <p>Tomorrow is Your Birthday🍭</p>
                <p>Everyday is Your Birthday☃️</p>
                <p>May today bring you huge happiness🎀</p>
                <p>May today bring you the best of luck🍸</p>
                <p>May today bring you what you intend to🎉</p>
                <p>In short, today is one of the best days :)</p>
                <p class="text-right">Happy Birthday, Friend!</p>
                <p class="text-right">By Maverick💫</p>
    </div>
</div>
<!-- partial -->
<script src="{% static 'js/congrats_style.js' %}"></script>

</body>
</html>
