{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House For You</title>
    <link rel="stylesheet" href="{% static 'css/home_script.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/135/135620.png">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="house"></div>
<p>Original illustration by <a href="https://t.me/maverick3526" target="_blank">Me</a></p>
<!-- partial -->
<script src='https://codepen.io/Jopzik/pen/YzyxZvx.js'></script>
<script src="{% static 'js/home_script.js' %}"></script>

</body>
</html>
