{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>For Orange</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" type="image/x-icon"
          href="https://cdn-icons-png.flaticon.com/512/135/135620.png">

</head>
<body>
<!-- partial:index.partial.html -->
<a href="{% url 'choices' %}" target="_parent">
    <header class="top-header">
    </header>

    <!--dust particel-->
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->


    <div class="lamp__wrap">
        <div class="lamp">
            <div class="cable"></div>
            <div class="cover"></div>
            <div class="in-cover">
                <div class="bulb"></div>
            </div>
            <div class="light"></div>
        </div>
    </div>
    <!-- END Lamp -->
    <section class="error">
        <!-- Content -->
        <div class="error__content">
            <div class="error__message message">
                <h1 class="message__title">Wassup, DIYORBEK BRO</h1>
                <p class="message__text">Press To Continue</p>
            </div>
            <div class="error__nav e-nav">
                <a href="{% url 'choices' %}" target="_parent" class="e-nav__link"></a>
            </div>
        </div>
        <!-- END Content -->

    </section>

</a>
<!-- partial -->

</body>
</html>
