{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>New Version Intro</title>
    <link rel="stylesheet" href="{% static 'css/intro_style.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/135/135620.png">
</head>
<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>

{% if messages %}
    <script>
        alert("{{ messages|escapejs }}");
    </script>
{% endif %}
<section class="nav" id="tab-main">
    <h1>{{ main_character }} 2.0</h1>
        <h3 class="span loader">
            <span class="m">K</span><span class="m">I</span><span class="m">N</span><span class="m">D</span><span class="m">N</span><span class="m">E</span><span class="m">S</span><span class="m">S</span>
            <span class="m">&nbsp;</span>
            <span class="m">I</span><span class="m">S</span>
            <span class="m">&nbsp;</span>
            <span class="m">T</span><span class="m">H</span><span class="m">E</span>
            <span class="m">&nbsp;</span>
            <span class="m">S</span><span class="m">Y</span><span class="m">M</span><span class="m">P</span><span class="m">T</span><span class="m">O</span><span class="m">M</span>
            <span class="m">&nbsp;</span>
            <span class="m">O</span><span class="m">F</span>
            <span class="m">&nbsp;</span>
            <span class="m">B</span><span class="m">I</span><span class="m">T</span><span class="m">L</span><span class="m">I</span><span class="m">Q</span><span class="m">I</span><span class="m">L</span><span class="m">I</span><span class="m">K</span>
        </h3>

    <div class="nav-container">
        <a class="nav-tab" href="#tab-main">🔹Intro</a>
        <a class="nav-tab" href="#tab-svelte">🔹CHOICES</a>
        <a class="nav-tab" href="#tab-esbuild">🔹RATINGS</a>
        <a class="nav-tab" href="#tab-next">🔹STATICS</a>
        <a class="nav-tab" href="#tab-typescript">🔹CONTACT</a>
        <a class="nav-tab" href="#tab-vite">🔹ABOUT</a>
        <span class="nav-tab-slider"></span></div>
</section>

<main class="main">
    <section class="slider" id="tab-svelte">
        <a href="{% url 'choices' %}"><h1>🔹ANIMATIONS</h1>
            <h2>Different types of animated views or static pages</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>To enter, press on any text</p></a>
    </section>

    <section class="slider" id="tab-esbuild">
        <a href="{% url 'ratings' %}"><h1>🔹RATINGS</h1>
            <h2>You can rate any pages for better experience (optional)</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>To enter, press on any text</p></a>
    </section>


    <section class="slider" id="tab-next">
        <a href="{% url 'statics' %}"><h1>🔹STATICS</h1>
            <h2>Your average rating and a number of ratings</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>To enter, press on any text</p></a>
    </section>


    <section class="slider" id="tab-typescript">
        <a href="{% url 'contacting' %}"><h1>🔹CONTACTING</h1>
            <h2>Any Suggestions or Any Bugs You Find</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>To enter, press on any text</p></a>
    </section>

    <section class="slider" id="tab-vite">
        <a href="{% url 'timeline' %}"><h1>🔹ABOUT</h1>
            <h2>History and Versions of Website</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>To enter, press on any text</p></a>
    </section>
</main>

<canvas class="background"></canvas>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="{% static 'js/intro_style.js' %}"></script>

</body>
</html>
