{% load static %}
{% load custom_filters %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brief Introduction</title>
    <link rel="stylesheet" href="{% static 'css/ratings_style.css' %}">
    <link rel="icon" type="image/x-icon"
          href="https://cdn-icons-png.flaticon.com/512/135/135620.png">
</head>

<body>
{% if popup_message %}
    <script type="text/javascript">
        alert("{{ popup_message }}");
    </script>
{% endif %}

<main>
    <div id="gallery">

        <figure>
            <div>
                <div>
                    <h2>Ratings</h2>
                    <p>Now You can rate choices !</p>
                    <p><br><small>Be Honest, it's optional<br>
                        Everyone has different interests and views. For this reason, it's better to clarify 'em)</small>
                    </p>
                </div>
            </div>
        </figure>

        {% for rating in ratings %}
            <figure>
                <a href="{% url 'rate' %}">
                    <img src="{{ rating.image_url }}"
                         alt="{{ rating.title }}" title="{{ rating.title }}">
                    <h3>{{ rating.description }}</h3>
                    <figcaption>{{ rating.id|ordinal }} Choice</figcaption>
                </a>
            </figure>
        {% endfor %}

    </div>
</main>

<footer id='info'><a href="{% url 'intro' %}">Back To the Choices</a></footer>
<script src="{% static 'js/ratings_style.js' %}"></script>

</body>
</html>
