{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Rain</title>
    <title>Rain</title>
    <link rel="stylesheet" href="{% static 'css/simple_style.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/135/135620.png">
</head>
<body>

<div class="container">

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>
<!-- partial -->

</body>
</html>
