{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soon</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/soon_style.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/135/135620.png">
</head>
<body>

<div class="ball" data-splitting>
    <div class="ball-top"></div>
</div>

<div class="phrase" data-splitting="items">
    <span class="word slide" data-splitting="chars">Not</span>
    <span class="word slide" data-splitting="chars">Ready</span>
    <span class="word slide" data-splitting="chars">yet</span>
    <span class="word smiley" data-splitting="chars">:(</span>
</div>

<!-- partial -->
<script type="module" src="{% static 'js/soon_style.js' %}"></script>

</body>
</html>
