{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Timeline</title>
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/135/135620.png">
</head>
<body>

<section class="intro">
    <div class="container">
        <h1>{{ main_character }} Website's Timeline &darr;</h1>
        <p>Back to <a href="{% url 'intro' %}" target="_parent">Intro Page</a></p>
    </div>
</section>

<section class="timeline">
    <ul>
        {% for version in versions %}
            <li>
                <div>
                    <time>{{ version.version }}</time>
                    <pre style="color: #eca622">{{ version.created_at }}</pre>
                    {{ version.description }}
                </div>
            </li>
        {% empty %}
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nothing
                is found!?</h1>
        {% endfor %}
    </ul>
</section>
<footer class="page-footer">
    <span>versions of </span>
    <a>
        <img width="24" height="24" src="https://cdn-icons-png.flaticon.com/512/135/135620.png"
             alt="{{ main_character }} logo">
    </a>
</footer>
<script src="{% static 'js/timeline.js' %}"></script>

</body>
</html>
